<!DOCTYPE html>
<html>
  <head>
    <title>Discuss</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/1.1.3/angularfire.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body class="container">
    <header data-topic-header></header>
    <main data-ng-controller="TopicIndexController as TopicViewModel">
      <div data-ng-repeat="topic in TopicViewModel.topics">
        <div class="clearfix row">
          <div class="col-md-5 well">
            <div data-ng-hide="topic.vm.activeForm">
              <div data-topic-show></div>
            </div>
            <div data-ng-show="topic.vm.activeForm">
              <div data-topic-save></div>
            </div>
          </div>
          <div class="col-md-7">
            <div data-ng-repeat="comment in topic.comments">
              <div data-comment-show></div>
            </div>
            <div data-comment-save></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
