<!DOCTYPE html>
<html>
  <head>
    <title>Discuss</title>
    <link rel="stylesheet" href="css/style.css" />

    <script>var firebaseURL = "https://robertakarobin-ng-mb.firebaseio.com/";</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/1.1.3/angularfire.min.js"></script>

    <script src="js/app.module.js"></script>
    <script src="js/firebase.factory.js"></script>

    <script src="js/topic/topic.module.js"></script>
    <script src="js/topic/topic.factory.js"></script>
    <script src="js/topic/index.controller.js"></script>
    <script src="js/topic/save.directive.js"></script>
    <script src="js/topic/show.directive.js"></script>
    <script src="js/topic/header.directive.js"></script>

    <script src="js/comment/comment.module.js"></script>
    <script src="js/comment/comment.factory.js"></script>
    <script src="js/comment/save.directive.js"></script>
    <script src="js/comment/show.directive.js"></script>
      </head>
  </head>
  <body class="container" data-ng-app="messageBoard">
    <header data-topic-header></header>
    <main data-ng-controller="TopicIndexController as TopicViewModel">
      <div data-ng-repeat="topic in TopicViewModel.topics">
        <div class="clearfix row">
          <div class="col-md-5 well">
            <div data-ng-hide="topic.vm.activeForm">
              <div data-topic-show></div>
            </div>
            <div data-ng-show="topic.vm.activeForm">
              <div data-topic-save></div>
            </div>
          </div>
          <div class="col-md-7">
            <div data-ng-repeat="comment in topic.comments">
              <div data-comment-show></div>
            </div>
            <div data-comment-save></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
